@model IEnumerable<WebApplication1.Models.BasicSettingViewModels.DepartmentViewModel>

@{
    Layout = "_Layout";
    ViewBag.title = "部門瀏覽";
}


<div class="row">


    <div class="col-12 mb-3">
        <div class="row">

            <label class="col-form-label col-auto">部門名稱查詢：</label>
            <form asp-action="Department" asp-controller="BasicSetting" method="post">

                <div class="row form-group">
                    <input name="QueryDepartment" class="form-control col-6" type="text" autocomplete="off">

                    <button type="submit" class="btn btn-outline-info">查詢</button>
                </div>
            </form>

            <div class="col-auto ml-auto">
                <a asp-controller="BasicSetting" asp-action="DepartmentCreate" class="btn btn-outline-success pull-right">新增</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <table id="example2" class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeesId)
                    </th>
                    <th scope="col">詳細資料</th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>@item.DepartmentName</td>
                            <td>@item.EmployeeName</td>
                            <td>
                                <a asp-controller="BasicSetting" asp-action="DepartmentEdit" asp-route-id="@item.Id" class="btn btn-outline-primary">檢視</a>
                                <a asp-controller="BasicSetting" asp-action="DepartmentDelete" asp-route-id="@item.Id" class="btn btn-outline-secondary" onclick="return confirmDelete();">刪除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>



<script>
    function confirmDelete() {
        // 使用 confirm 函數顯示確認視窗
        var result = confirm("確定要刪除嗎?");

        // 如果用戶確定，返回 true，否則返回 false
        return result;
    }
</script>