@model IEnumerable<WebApplication1.Models.EditVacationTypeViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "假別瀏覽";
}
<style>
    .thinkcss-right {
        text-align: right;
        
    }
</style>
<div class="row">
    <div class="form-inline col-sm-6 col-md-8">
        <div class="form-group col-sm-12">
            <label>假別名稱查詢：</label>
            <form asp-action="ListVacationType" asp-controller="BasicSetting" method="post">
                <input name="QueryVacationType" type="text">
                    <button type="submit" class="btn btn-outline-dark">查詢</button>               
            </form>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 thinkcss-right">
        <a asp-controller="BasicSetting" asp-action="CreateVacationType" class="btn btn-outline-success">新增</a>

    </div>
</div>

<div class="card-body">
    <div id="example2-wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.VacationType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cycle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MinVacationHours)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.VacationType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cycle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MinVacationHours)
                                </td>
                                <td>
                                    @Html.ActionLink("詳細", "EditVacationType", new { id=item.Id }) |
                                    @* @Html.ActionLink("刪除", "DeleteVacationType", new { id = item.Id }) *@
                                    <a asp-action="DeleteVacationType" asp-controller="BasicSetting" asp-route-Id="@item.Id">刪除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                   
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="col-sm col-md-5" id="example2_info"></div>
            </div>
            <div class="col-sm-4 col-md-8">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers"
                         id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="example2_previous">
                                <a href="#" aria-controls="example2"
                                   data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="1" tabindex="0"
                                   class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="2" tabindex="0"
                                   class="page-link">2</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="3" tabindex="0"
                                   class="page-link">3</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="4" tabindex="0"
                                   class="page-link">4</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="5" tabindex="0"
                                   class="page-link">5</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="6" tabindex="0"
                                   class="page-link">6</a>
                            </li>
                            <li class="paginate_button page-item next" id="example2_next">
                                <a href="#" aria-controls="example2" data-dt-idx="7"
                                   tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
