@model IEnumerable<WebApplication1.Models.ShiftSchedulesViewModel>
@{
    ViewBag.Title = "班別查詢";
}

<div class="row">

    <div class="form-inline mb-3">
        <div class="form-group">
            <label>日期區間查詢：</label>
            <form asp-action="ListShiftSchedule" asp-controller="BasicSetting" method="post">
                <div class="input-group col">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input type="hidden" name="StartTime" id="startTime" value="@DateTime.Now.Date" />
                    <input type="hidden" name="EndTime" id="endTime" value="@DateTime.Now.Date" />
                    <input type="text" id="reservation" />
                    <button type="submit" class="btn btn-outline-dark">查詢</button>
                    <a class="btn btn-outline-success" asp-controller="BasicSetting" asp-action="CreateShiftSchedule">新增</a>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">班別名稱</th>
                <th scope="col">上班時間</th>
                <th scope="col">下班時間</th>
                <th scope="col">休息時間(小時)</th>
                <th scope="col">補卡上限(次)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShiftName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BreakTimeHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxAdditionalClockIn)
                    </td>
                    <td>
                        @Html.ActionLink("詳細", "EditShiftSchedule", new { id = item.Id }) |
                        @Html.ActionLink("刪除", "DeleteShiftSchedule", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script>
        $('#reservation').daterangepicker({}, function (start, end, _) {
            console.log(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            $('#startTime').val(start.format('YYYY-MM-DD'));
            $('#endTime').val(end.format('YYYY-MM-DD'));


        }
        )
    </script>
}

